.App {
  text-align: center;
  background-color:white;
  color: rgb(11, 4, 54);
  min-height: 100vh;
}

.h1{
  margin: 0;
}

.header{
  background-color:rgb(16, 1, 30);
  color: rgb(245, 244, 241);

}

.main{
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  padding: 20px;
  gap: 40px;
}

.img{
  height: 250px;
  width: 225px;
  object-fit: cover;
  border-radius: 5px;
}

.movie{
  background-color: #968787;
  color: #080808;
  padding: 3px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.132);
  max-width: 230px;
}